[submodule "external/chartmetric"]
	path = external/chartmetric
	url = https://github.com/recoupable/chartmetric.git
[submodule "external/release-management"]
	path = external/release-management
	url = https://github.com/recoupable/release-management.git
[submodule "external/songwriting"]
	path = external/songwriting
	url = https://github.com/recoupable/songwriting.git
[submodule "internal/brand-guidelines"]
	path = internal/brand-guidelines
	url = git@github.com:recoupable/brand-guidelines.git
	update = none
