[submodule "chartmetric"]
	path = chartmetric
	url = https://github.com/recoupable/chartmetric.git
[submodule "release-management"]
	path = release-management
	url = https://github.com/recoupable/release-management.git
[submodule "songwriting"]
	path = songwriting
	url = https://github.com/recoupable/songwriting.git
[submodule "brand-guidelines"]
	path = brand-guidelines
	url = git@github.com:recoupable/brand-guidelines.git
	update = none
[submodule "setup-sandbox"]
	path = setup-sandbox
	url = https://github.com/recoupable/setup-sandbox.git
[submodule "setup-artist"]
	path = setup-artist
	url = https://github.com/recoupable/setup-artist.git
